body {
    margin: 0;
    background-color: #e1dfe7;
    font-family: 'DelaGothic';
}
section {
    height: 100vh;
    display: none;
}
.section-active {
    display: flex;
}
header {
    display: flex;
}
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    margin-left: 2%;
    margin-top: 2%;
    height: 400px;
    width: 80px;
    border-radius: 20px;
    background: #e1dfe7;
box-shadow:  17px 17px 24px #b2b0b6,
             -17px -17px 24px #ffffff;
}
.header-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 82px;
    background: #e1dfe7;
    box-shadow:  6px 6px 12px #b2b0b6,
             -6px -6px 12px #ffffff;
}
.svg-icon {
    width: 40px;
    height: 40px;
}
.svg-icon-diagnostic {
    width: 50px;
    height: 50px;
}
.svg-icon-telemed {
    width: 40px;
    height: 40px;
}
.svg-icon-chat {
    width: 50px;
    height: 50px;
}
.header-tab-active {
    border-radius: 82px;
    background: #e1dfe7;
    box-shadow: inset 6px 6px 12px #b2b0b6,
            inset -6px -6px 12px #ffffff;
}
.diagnostic {
    align-items: center;
    justify-content: center;
}
.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    font-size: 48px;
    border-radius: 20px;
    background: #e1dfe7;
box-shadow:  17px 17px 32px #bbb9c0,
             -17px -17px 32px #ffffff;
}

@font-face {
    font-family: DelaGothic; /* Имя шрифта */
    src: url('/media/fonts/DelaGothicOne-Regular.ttf'); /* Путь к файлу со шрифтом */
}